{% extends "index.html" %}
{% block heading %}
    <h1 align="center">Добавление в базу</h1>
{% endblock %}
{% block data %}
    <p class="ad">Добавление нового адреса</p>
    <form class="add_point">
      Название:<br>
      <input type="text" name="name_point" id="text_name_point">
        <button class="favorite styled" type="button">Добавить</button>
        <br>
      Стоимость:<br>
      <input type="text" name="cost" id="text_cost_point">
        <button class="favorite styled" type="reset">Очистить поля</button>
        <br>
    </form>
    <br>
    <table class="iksweb">
	<tbody>
		<tr>
			<td>№</td>
			<td>Название</td>
			<td>Стоимость</td>
		</tr>
		{% for point in points %}
			<tr>
				<td>{{ point.id_point }}</td>
				<td id="two">{{ point.name_point }} </td>
				<td>{{ point.cost }}</td>
			</tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}}